body {
    background-image: url("healthyback.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:100% 100%;
    margin:0;
    font-family:Arial;
    font-size: 30px;
}   
ul { 

   z-index: 100; 
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   position: fixed;
   top: 0;
   width: 100%;
}
ul li{
   float: left;
   border-right:1px solid rgb(70, 69, 69);
}

li a, .dropbtn {
   display: block;
   color: white;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover{
   background-color: #111;
}

.active {
   color: #1B6FDD;
}

.active:hover {
   color: #0B3788;
}

li.dropdown {
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: fixed;
   background-color: #f9f9f9;
   min-width: 125px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
} 

.dropdown-content a:hover {
   background-color: #DDD9D9;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color:#D88211;
   color:#3C53D8;
   text-align: center;
   font-family:Impact;
   padding: 5px 0;
   border-radius: 6px;
   position: absolute;
   z-index: 1; 
   bottom: 73%;
   left: 92%;
   margin-left: -60px;
   /* Fade in tooltip - takes 2 second to go from 0% to 100% opac: */
   opacity: 0;
   transition: opacity 2s;
}

.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   bottom: 100%;
   left: 46%;
   margin-left: -5px;
   border-width: 10px;
   border-style: solid;
   border-color: transparent transparent #D88211 transparent;
}
.login-background {
    background-color: #0B3788;
}
.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}

h1{
    text-align: center;
    color:#1B84C0 
}
#loginback {
    color: rgb(255, 255, 255);
}
#signupf {
    margin-top: 2%;
    border-radius: 15px;
}

.sade {
    font-family: Britanic;
    color: black;
}
.submitbut {
    text-align: center;
    border-radius: 8px;
    text-align: center;
    margin-left:40%;
    margin-bottom:5%;
    margin-top:7.5%;    
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px #999;
    border:none;
    background-color: rgb(190, 13, 13);
    font-family: impact;
    font-size: 22px;
}
.submitbut:hover {background-color: rgb(212, 11, 11)}

.submitbut:active {
    background-color: rgb(110, 7, 7);
    box-shadow: 0 5px rgb(190, 14, 14);
    transform: translateY(4px);
  }
#header {
    margin-top: 4.5%;
    color: rgb(20, 73, 20);
}
.details {
    margin-bottom: 5%;
    color: rgb(67, 148, 30);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom:1%;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18.5px;
}

.formcenter{
    background-color: coral;
    margin: 0 400px;
    border-radius: 20px;
}
.input{
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color:red;
    opacity: 0.6;
}
.input:onblur{
    opacity:1;
}
.input:invalid{
    border-color:red;
    opacity: 0.6;
}
.input:valid{
    border-color: green;
    opacity: 1;
}
.input:focus{
    opacity:1;
    border-color: green;
}
.input::placeholder{
    padding: 2px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    opacity: 0.6;
}

#message{
    margin-top: 17%;
}

#loginform{
    background-color: coral;
    margin: 0 400px;
    border-radius: 20px;
    text-align: center;
    width:45%;
    padding:20px;
}

#signuplink{
    font-size: 20px;
    margin-bottom:15%;
}
#daccount{
    font-size: 20px;
    padding:40px;
}
.loginTableTd{
    padding:10px;
}

#logbut{
    margin-right:40%;
}
#signupcap{
    margin-top:15%;
    color: black;
}
.account{
    font-size: 25px;
}
#loginlink{
    color: rgb(59, 55, 55);
}
.webinfo{
    margin-top:15%;
}
#data{
    font-size: 26px;
}
#errorMsg{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 28%;
    color: rgb(194, 4, 4);
    visibility: none;
    display: none;
}
#errorMsge{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 28%;
    color: rgb(194, 4, 4);
    visibility: none;
    display: none;
}

.account{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.containerChange{
    text-align: center;
}
#changee{
    height:5%;
    margin-right:1%;
}
#confirm{
    height:5%;
    margin-right:2.25%;
}
.changebut{
    margin-left: 5%;
    border-radius: 4px;
    width:8%;
    height: 25px;
}

.containerHello{
    margin-top: 600px;
    background: black;
    padding: 10px 10px;
}
#changep{
    height:5%;
    margin-right:15%;
}
#changepass{
    height:5%;
}
.containe{
    background-color: white;
    margin-left:5%;
    margin-right:5%;
    border-radius: 14px;
}

.h{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.pic{
    position: absolute;
    top:7.8%;
    height: 290px;
}
.con{
    margin-left: 10%;
}

.l{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black
}

body{
    overflow-x: hidden;
}

.hp{
    text-align: center;
    margin-left: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(194, 151, 151, 0.863);

}

#flow{
    background: black;
    width: 100%;
}
#cont{
    text-align: center;
    z-index: 99;
    bottom:0;
    position: fixed;

}

#wel{
    margin-top: 2%;
}